{% extends 'personal_blog/base.html' %}
{% load static %}

{% block content %}
<div class="py-5">
    <div class="slides">
        <div class="row justify-content-center text-black text-left">
            <div class="col-10">
                <p class="fs-7 fw-bolder">Hi 👋 my name is</p>
                <h1 class="display-1">Lara Krämer</h1>
                <h1 class="fw-lighter">I am learning to cook up digital magic for the web.</h1>
                    <p class="text-muted fw-light font-monospace">
                    I am a former people manager and tech recruiter
                    who switched careers to become a software engineer.
                    My interest in software engineering began while working as a tech
                    recruiter. However, only in January 2024, I began exploring programming
                    for real. The book "A Smarter Way to Learn Python" captivated me, and
                    I started coding every day. Beginning of July, I finalised a Python Udemy Bootcamp.
                    Now, I'm working on an IOT project and this portfolio-blog page with Django. End of August
                    I will participate in the 42 Berlin Piscine.
                    </p>

            <div>
                    <a href="https://github.com/LaraKraemer" role="button" class="btn btn-outline-secondary btn-sm mr-1">Github repos 👀</a>
                    <a href="{% url 'post_list' %}" role="button" class="btn btn-outline-secondary btn-sm m-2">Tech tales ✍️</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}


